body {
    margin: 0;
}

header {
    background-image: url('../img/1.jpg');
    background-attachment: scroll;
}

.header {
    padding-top: 175px;
    padding-bottom: 175px;
}

.page-section {
    padding: 50px 0;
}

.line-section {
    width: 300px;
}

.row-product {
    margin-bottom: 10px;
}

.product-list {
    padding-top: 50px;
}

.product-container img {
    width: 50%;
    position: relative;
}

.product-container .info {
    background-color: #5fd693;
    width: 50%;
    position: relative;
    padding-top: 10px;
    text-align: center;
}

#mainNav {
    background-color: rgba(0, 0, 0, 0);
}

#title {
    font-size: 35pt;
}

#subtitle {
    font-size: 60pt;
}