@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

header {}

footer {
    background-color: #2c7873;
    padding: 10px 0;
    text-align: center;
}

.header {
    background-image: url('../img/background1.png');
    background-size: cover;
    background-attachment: scroll;
    padding-top: 325px;
    padding-bottom: 300px;
}

.page-section {
    padding: 50px 0;
}

.nav-item {
    margin: 0 10px;
}

.line-section {
    width: 300px;
}

.row-product {
    margin-bottom: 10px;
}

.product-list {
    padding-top: 50px;
}

.product-container img {
    width: 100%;
    height: 100%;
}

.product-container .info {
    background-color: #c0ffb3;
    width: 50%;
    padding: 10px 0;
    text-align: center;
}

.sub-section-title {
    font-size: 15pt;
}

.maps-contact {
    width: 300px;
}

.line-subtitle {
    width: 90%;
    height: 1px;
    border-bottom: 3px solid black;
    margin-bottom: 15px;
}

#body-login {
    background-color: #2c7873;
}

#container-login {
    background-color: white;
    width: 30%;
    margin: 80px auto 0 auto;
    padding: 20px 30px;
    height: 350px;
}

#mainNav {
    background-color: rgba(0, 0, 0, 0);
}

#title {
    font-size: 35pt;
}

#subtitle {
    font-size: 60pt;
}

#contact {
    background-color: #52de97;
    padding: 40px 0;
}

#container-nav {
    background-color: #52de97;
    position: fixed;
    z-index: 1030;
    width: 100%;
}